name: "Release actions"

on:
  release:
    types:
      - published

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to PyPi
    environment:
      name: release
      url: https://pypi.org/project/pycfdns
    permissions:
      # Used to authenticate to PyPI via OIDC.
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.3.1

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version-file: 'pyproject.toml'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python3 -m pip install -U pip setuptools
          python3 -m pip install poetry

      - name: Set version number
        run: poetry version ${{ github.event.release.tag_name }}

      - name: Build
        run: poetry build --no-interaction

      - name: Publish to PyPi
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0